    <style>
        .page-list .pagination {float:left;}
        .page-list .pagination span {cursor: pointer;}
        .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
        .page-list .pagination .separate span:hover {background: none;}
        .page-list .page-total {float:left; margin: 25px 20px;}
        .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
        .page-list .page-total input {width: 40px; padding-left:3px;}
        .page-list .page-total select {width: 50px;}

.cont_box{float:left;padding:40px 0 0 40px;box-sizing:border-box;display:block;position:relative;}
.p_pic{width:100%;padding:10px;border:1px solid #66c8e7;display:block;box-sizing:border-box;border-radius:12px 12px 0 0}
.p_txt{background:#49afcd;color:#fff;text-align:center;padding:5px;border:1px solid #66c8e7;}
.p_icon{position:absolute;right:3px;top:43px;}
.box_shadow{box-shadow: 0 0 8px #aaa; cursor:pointer;border-radius:12px 12px 0 0}
.p_pic_2{width:100%;padding:10px;border:1px solid #f77a70;display:block;box-sizing:border-box;border-radius:12px 12px 0 0}
.p_txt_2{background:#fa9087;color:#fff;text-align:center;padding:5px;border:1px solid #f77a70;}

.detail_left{float:left;width:30%;padding:3%;box-sizing:border-box;}
.detail_right{float:right;width:70%;padding:3%;box-sizing:border-box;padding-left:0;}
.detail_img{width:47%;margin-right:6px;margin-bottom:1px;float:left;box-sizing:border-box;}
.detail_img img{border:1px solid #49afcd;box-shadow:0 0 5px #aaa;}
.detail_right td{height:40px;padding-left:10px;}
.detail_right tr:nth-of-type(even) {background:#eceff1;}
.detail_right td:nth-of-type(even) {font-weight:bold;color:#4098b2}
.detail_title{background:#49afcd;color:#fff;text-align:center;height:40px;line-height:40px;border-radius:12px 12px 0 0;font-weight:bold;}
.box_shadow:hover{box-shadow:0 0 10px #00CCFF}
.box_shadow_2{box-shadow: 0 0 8px #aaa; cursor:pointer;border-radius:12px 12px 0 0}
.box_shadow_2:hover{box-shadow:0 0 10px #FF6666}


    </style>
<px-card icon="fa-suitcase" header-text="Machine Tool Status" chevron>
<div ng-repeat="item in lathes" class="cont_box">
           <div class="p_pic"><img ng-src="images/{{$index % 3}}.jpg" ng-click="showlathe(item.id)" width="100%" height="100%" /></div>
           <div class="p_txt">{{ item.latheName }}<span style="font-size:13px;"><br>Machine Status: IN CYCLE <br> Machine Mode: JOG<br> Main Program #: O2</span></div>
           <div class="p_icon"><img ng-src="images/{{item.status==0?'red':'green'}}.gif"></div>
        </div>
</px-card>
