<style>

a{ text-decoration:none;}
h1{}
.m_r_61{margin-right:60px;}
.m_r_40{margin-right:45px;}
.m_b_35{margin-bottom:35px;}

.wrapper{width:100%;height:auto;padding:70px 35px 0 271px;box-sizing:border-box;display:block;}
.product_cont_box{padding:30px 0 0 40px;}
.product_box{width:175px;height:192px;border:1px solid #8D8D8D;float:left;padding:0;box-sizing:border-box;display:block;}
.product_img_box{width:100%;height:102px;position:relative;}
.p_name{position:absolute;left:0;bottom:0;background:rgba(59,64,94,0.6);width:100%;height:30px;line-height:31px;text-align:center;color:#fff;font-size:20px;z-index:9999;}
.product_button{height:38px;line-height:38px;padding:0 5px 0 3px;background:#eeeeee;}
.icon_status{float:left;margin-top:4px;}
.btn_detail{float:right;width:90px;height:24px;line-height:23px;background:#4F6094;text-align:center;color:#fff;font-size:12px;border:0;border-radius:5px;margin-top:7px;}
.btn_detail_readonly{float:right;width:90px;height:24px;line-height:23px;background:#aaa;text-align:center;color:#eee;font-size:12px;border:0;border-radius:5px;margin-top:7px;}
.serial_number{height:25px;background:#eee;line-height:25px;color:#333;padding-left:5px;font-size:14px;}

.cont_detail_box{margin:0;padding:0;width:100%;}
.detail_topMsg{height:96px;border-bottom:1px solid #8d8d8d;font-size:24px;color:#666;}
.detail_topMsg div{height:96px;line-height:96px;float:left;padding-left:30px;box-sizing:border-box;}
.page_name{width:25%;}
.page_name span{float:left;}
.product_name{width:50%;}
.p_status{width:133px;height:45px;background:url(../images/status_open.png) no-repeat;float:right;margin-right:30px;margin-top:26px;}
.date{width:25%;float:right!important;border-left:1px solid #8d8d8d;}
.date p{margin:0;padding:0;line-height:100%;}
.day{float:left;font-size:48px;color:#394553;height:96px;line-height:96px;}
.year{float:right;}
.year span{display:block;text-align:right;}
.txt_name{float:left;}
.pic_small{width:70px;height:70px;background:url(../images/product_00.jpg) no-repeat;background-size:70px 70px;border:1px solid #ccc;border-radius:6px;float:left;margin-top:12px;margin-right:12px;}

.product_detail_box{margin:30px;padding:0;}
.p_pic_large{width:43%;float:left;margin:0;padding:0;height:455px;oveflow:hidden;}
.detail_table{width:57%;float:left;}
.detail_table table{background:#eee;color:#333;}
.detail_table th{background:#4F6094;width:40%;height:38px;border-bottom:1px solid #627383;text-align:left;padding-left:15px;box-sizing:border-box;font-weight:normal!important;font-size:16px;color:#fff;}
.detail_table td{border-bottom:1px solid #aaa;text-align:center;}
.arrow_white{margin-right:10px;}

.graph_box{width:43%;float:right;}
.graph_box_two{height:175px;box-shadow:0 0px 5px #ccc;padding:15px;margin-bottom:30px;margin-left:30px;position:relative;}
.graph_title{font-size:18px;color:#333;display:block;margin-bottom:10px;}
.speed_value{font-size:14px;color:#4F6094;margin-top:10px;display:block;float:left;margin-right:30px;margin-left:20px;}
.value{border-radius:30px;box-shadow:0 0 5px #aaa;font-size:18px;padding:5px;background:#4F6094;text-align:center;display:inline-block;color:#fff;}
.temperature_graph{position:absolute;top:0;right:0;margin:0px;}
.temperature_num{width:105px;height:60px;border-radius:30px;box-shadow:0 0px 5px #999;text-align:center;line-height:65px;float:right;margin-right:20%;font-size:48px;color:#666;margin-top:15%;}
.rapid_left{font-size:26px;color:#666;margin-left:6%;margin-top:15%;}
.rapid_right{margin-right:0;margin-top:7%;}

.switch_1_bg{width:130px;height:22px;background:#4F6094;border-radius:30px;box-shadow:1px 1px 1px #ccc;margin:0 auto;}
.switch_btn{width:65px;height:22px;line-height:24px;border-radius:30px;font-size:18x;text-align:center;float:left;}
.on{background:#fff;box-shadow:2px 2px 3px #ccc inset;color:#333;}
.off{background:none;color:#8595ac;}
.switch_2_bg{width:195px;height:22px;background:#4F6094;border-radius:30px;box-shadow:1px 1px 1px #ccc;margin:0 auto;}



.f_l{float:left;}
.f_r{float:right;}





</style>
<script src="bower_components/highcharts/highcharts.js"></script>
<script src="bower_components/highcharts/highcharts-more.js"></script>
<script src="bower_components/highcharts/modules/exporting.js"></script>
<px-card icon="fa-suitcase" header-text="PRODUCT INFO" chevron>
    <div class="cont_detail_box">
       <div class="detail_topMsg">
           <div class="product_name">
                <span class="pic_small"></span>
                <span class="txt_name">Product : <span>{{stateid}}</span></span>
                <span class="f_l" style="height:96px;line-height:108px;margin-left:10px;"><img src="images/{{status}}.png"></span>
                
           </div>
           <div class="date" style="border-right:0;">
                <p class="day" style="line-height:96px;">{{myDate}}</p>
                <p class="year" style="margin-right:25px;margin-top:15px;">
                     <span style="font-size:26px;color:#333;">{{myMonth}} 2016</span>
                     <span style="font-size:20px;">{{myDay}}</span>
                     <span style="font-size:20px;">{{myTime}}</span>
                </p>
           </div>
       </div>
       <div class="product_detail_box">
           <div class="detail_table">
               <table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr ng-repeat="item in lathestatus">
    <th scope="row" ng-if="item.lable == 'power'"><img src="images/arrow_white.png" class="arrow_white">Power on/off</th>
    <td ng-if="item.lable == 'power'"><div class="switch_1_bg" ng-if="item.value == '1'"><span class="switch_btn on">ON</span><span class="switch_btn off">OFF</span></div>
    <div class="switch_1_bg" ng-if="item.value == '0'"><span class="switch_btn off">ON</span><span class="switch_btn on">OFF</span></div>
    </td>

    <th scope="row" ng-if="item.lable == 'scram'"><img src="images/arrow_white.png" class="arrow_white">Scram</th>
    <td ng-if="item.lable == 'scram'"><div class="switch_1_bg"><span class="switch_btn {{item.value == '1'?'on':'off'}}">ON</span><span class="switch_btn {{item.value == '0'?'on':'off'}}">OFF</span></div>

    <th scope="row" ng-if="item.lable == 'program'"><img src="images/arrow_white.png" class="arrow_white">Program</th>
    <td ng-if="item.lable == 'program'"><div class="switch_1_bg"><span class="switch_btn {{item.value == '1'?'on':'off'}}">ON</span><span class="switch_btn {{item.value == '0'?'on':'off'}}">OFF</span></div>

    <th scope="row" ng-if="item.lable == 'spindle direction'"><img src="images/arrow_white.png" class="arrow_white">Spindle direction</th>
    <td ng-if="item.lable == 'spindle direction'"><div class="switch_2_bg"><span class="switch_btn {{item.value == '1'?'on':'off'}}">Advance</span><span class="switch_btn {{item.value == '-1'?'on':'off'}}">Reverse</span><span class="switch_btn {{item.value == '0'?'on':'off'}}">Stop</span></div></td>

    <th scope="row" ng-if="item.lable == 'spindle speed'"><img src="images/arrow_white.png" class="arrow_white">Spindle speed</th>
    <td ng-if="item.lable == 'spindle speed'">{{item.value}}r/min</td>

    <th scope="row" ng-if="item.lable == 'cutting tools'"><img src="images/arrow_white.png" class="arrow_white">Cutting tools</th>
    <td ng-if="item.lable == 'cutting tools'">{{item.value}}</td>

    <th scope="row" ng-if="item.lable == 'temperature'"><img src="images/arrow_white.png" class="arrow_white">Temperature</th>
    <td ng-if="item.lable == 'temperature'">{{item.value}} ℃</td>
    <!--
    <th scope="row" ng-if="item.lable == 'alarm'"><img src="images/arrow_white.png" class="arrow_white">Alarm</th>
    <td ng-if="item.lable == 'alarm'">{{item.value}}</td>
    -->
    <th scope="row" ng-if="item.lable == 'artifact statistic'"><img src="images/arrow_white.png" class="arrow_white">Artifact statistic</th>
    <td ng-if="item.lable == 'artifact statistic'">{{item.value}}</td>

    <th scope="row" ng-if="item.lable == 'reset'"><img src="images/arrow_white.png" class="arrow_white">Reset</th>
    <td ng-if="item.lable == 'reset'"><div class="switch_1_bg"><span class="switch_btn {{item.value == '1'?'on':'off'}}">ON</span><span class="switch_btn {{item.value == '0'?'on':'off'}}">OFF</span></div>

    <th scope="row" ng-if="item.lable == 'program pause'"><img src="images/arrow_white.png" class="arrow_white">Program pause</th>
    <td ng-if="item.lable == 'program pause'"><div class="switch_1_bg"><span class="switch_btn {{item.value == '1'?'on':'off'}}">ON</span><span class="switch_btn {{item.value == '0'?'on':'off'}}">OFF</span></div>
  </tr>

</table>
           </div>
           <div class="graph_box">
            <div class="graph_box_two temperature">
                <span class="graph_title">Spindle speed</span>
                <span style="font-size:16px;color:#4F6094;">Setting Value:3600r</span>
                <span class="temperature_graph">
                	
                	<div width="230" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit" class="speed_svg"></div>
                </span>
       		</div>
      		<div class="graph_box_two rapid">
         
     
                <span class="graph_title f_l">Rapid traverse</span><span class="f_r" style="font-size:16px;color:#4F6094;">Setting Value:30mm/min</span>
                <div class="f_l" style="">
                    <span class="speed_value"><b>Current Value:</b> <br><br><span class="value">{{rapidTraverse}}</span>&nbsp;&nbsp;mm/min</span> 
                    <span class="rapid_right f_r"><div style="width: 160px; height: 80px;  background-color: grey; margin-left:1px; margin-top:-10px;">
                <ref-digital-meter id="firstMeter" percentage="{{rapidTraverse/30/1.5*100}}"></ref-digital-meter>
                </div></span>
                </div>
            </div>
       </div>
       </div>
       
    </div> 


</px-card>


